[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
wtforms = "*"
email-validator = "*"
flask-login = "*"
fitbit = "*"
cherrypy = "*"
pandas = "*"

[requires]
python_version = "3.6"

[dev-packages]
