{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Add Fitbituser
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.4/chartist.min.css" integrity="sha512-V0+DPzYyLzIiMiWCg3nNdY+NyIiK9bED/T1xNBj08CaIUyK3sXRpB26OUCIzujMevxY9TRJFHQIxTwgzb0jVLg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
  <div class="container">
    <table id="data" class="table table-striped">
      <thead>
        <tr>
          <th>caloriesOut</th>
          <th>max</th>
          <th>min</th>
          <th>minutes</th>
          <th>name</th>
        </tr>
      </thead>
      <tbody>
        {% for parent_dict_item in fitbituser_data['activities-heart'] %}
          {% for data in parent_dict_item['value']['heartRateZones'] %}
            <tr>
              <td>{{data['caloriesOut']}}</td>
              <td>{{data['max']}}</td>
              <td>{{data['min']}}</td>
              <td>{{data['minutes']}}</td>
              <td>{{data['name']}}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>

    <div class="ct-chart ct-perfect-fourth"></div>
  </div> <!-- /container -->


  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.4/chartist.min.js" integrity="sha512-9rxMbTkN9JcgG5euudGbdIbhFZ7KGyAuVomdQDI9qXfPply9BJh0iqA7E/moLCatH2JD4xBGHwV6ezBkCpnjRQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>

    var fitbitdata = '{{fitbituser_data["activities-heart-intraday"]["dataset"]|tojson}}';

    const res = JSON.parse(fitbitdata)

    var time = []
    var value = []
    for (var key of Object.keys(res)) {
      time.push(res[key]['time'])
      value.push(res[key]['value'])
    }
    var data= {
      labels: time,
      series: [value]
    };

    var options = {
      width : 500,
      height : 500
    }

    var mychart = new Chartist.Line('.ct-chart',data, options);
  </script>
{% endblock %}
