{% extends "bootstrap/base.html" %}

{% block title %}
Demo App
{% endblock %}

{% block styles %}
{{super()}}

{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('home') }}">UCD fitbit</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
            {% if current_user.is_authenticated %}
              <li><a href="{{ url_for('new_fitbituser') }}">Add FitbitUser</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
              <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron">
        {% if current_user.is_authenticated %}
          {% for user in fitbit_users %}
            <h2><a href="{{ url_for('FitbitUserPage', fitbituser_id=user.id) }}">{{ user.username }}</a></h2>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_fitbituser', fitbituser_id=user.id) }}">Update</a>
          {% endfor %}
        {% else %}
          <h1> please login in order to see data </h1>
        {% endif %}
      </div>

      <footer class="footer">
        <p>&copy; UCD 2021</p>
      </footer>
      <script src="https://js.stripe.com/v3/"></script>
      <script src="{{ url_for('static', filename='script-ajax.js') }}"></script>

    </div>
{% endblock %}
